@if (nombre.length>0) {
    <h1>Hello {{nombre}}!</h1>
}

<div>
    <input type="text" placeholder="Ingrese un nombre" [(ngModel)] = "nombre">
</div>

@if ( nombre === 'Darth Vader') {
    <div>
        <b>
            <h2>Bienvenido al lado oscuro</h2>
        </b>
    </div>
}

<h1>Listado de Nombres</h1>
<ul>
    @for (item of listaNombres; track $index) {
        <li>
            {{item.nombre}} {{item.apellido}}
        </li>
    }
</ul>

@if (mensajeDelHijo.length>0) {
    <h3>Mensaje del hijo: {{mensajeDelHijo}}</h3>
}

<app-world
[nombreWorld] = nombre
(emisor)="onEmit($event)"
>
</app-world>

<button routerLink="/world">Ir al componente world</button>
<p></p>
<div>
    <button routerLink="/palindromo">Componente Palindromo</button>
</div>
