Cursos/Pensum-Desarrollo-de-Software-2024-ParqueSoft-TI.pdf
introduccion_a_la_informatica
Gestion_de_proyectos
Cursos/Periodo_II/Bases_de_datos_I/
Cursos/Periodo_II/SO_I/
Cursos/Periodo_III/Networking/
Cursos/Periodo_III/NoSQL/
.idea/
.vscode/
Cursos/Periodo_III/Python_I/ejercicio1.py